.page.options-page {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

.options-main-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 5rem;
  min-height: 0;
  padding: 2rem;
}
/* 斜めのボタン */
.options-tab-button-container {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  justify-content: center;
  align-content: center;
  width: fit-content;
  transform: rotate(45deg);
}
.options-tab-button-container > * {
  transform: rotate(-45deg);
}
.options-tab-button-container > :nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}
.options-tab-button-container > :nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}
.options-tab-button-container > :nth-child(3) {
  grid-row: 2;
  grid-column: 2;
}
/* タブコンテンツ */
.options-tab-content-container {
  flex: 1;
  position: relative;
  padding-top: 2rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  z-index: 1;
}
.options-tab-content-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(20, 20, 20, 0.8);
  z-index: -1;
  filter: url('#button-grunge-filter');
}
.options-tab-content-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 700' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='1'/%3E%3C/svg%3E");
  z-index: -2;
  filter: url('#button-grunge-filter');
}
.options-tab-content-container.active {
  animation: slideIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.options-tab-content-scroll-area {
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #fff3f1 transparent;
}

.options-tab-content-container h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .7rem;
  padding-bottom: .7rem;
  border-bottom: 1px solid #444;
  filter: url('#button-grunge-filter');
}
.options-tab-content-container p {
  font-size: 1rem;
  line-height: 1.5;
}

/* 遷移ボタン */
.options-button-container {
  display: flex;
  justify-content: space-around;
}

/* 設定項目 */
.options-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.options-list-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.options-list-item > label {
  font-size: 1rem;
  filter: url('#button-grunge-filter');
}
/* ボタン */
.options-button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.options-button-container.main-bgm {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3rem;
}
.options-button-container button {
  position: relative;
  padding: 0.5rem 1.5rem;
  background-color: rgba(20, 20, 20, 0.5);
  transition: all 0.3s ease;
}
.options-button-container.main-bgm button {
  width: 20ch;
}
.options-button-container button::before {
  content: "";
  position: absolute;
  inset: -4px;
  background-color: rgba(20, 20, 20, 0.5);
  border: 1px solid #444;
  z-index: -1;
  filter: url('#button-grunge-filter');
  transition: all 0.3s ease;
}
.options-button-container button::after {
  content: "";
  position: absolute;
  inset: 0px;
  background-color: rgba(20, 20, 20, 0.5);
  border: 1px solid #444;
  z-index: -1;
  filter: url('#button-grunge-filter');
  transition: all 0.3s ease;
}
.options-button-container button.active::before {
  border-color: #ffd700;
}
.options-button-container button.active::after {
  border-color: #ffd700;
}
/* input range */
.options-valueinput-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.options-valueinput-container input[type="range"] {
  width: 70%;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  filter: url('#button-grunge-filter');
}
.options-valueinput-container input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  background: #111;
  border: 1px solid #555;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.8);
}
.options-valueinput-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 10px;
  background: #ccc;
  margin-top: -5px;
  border: 1px solid #000;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.options-valueinput-container span {
  display: inline-block;
  width: 3ch;
  text-align: right;
  font-variant-numeric: tabular-nums;
  font-size: .8rem;
  filter: url('#button-grunge-filter');
}
/* input radio */
.options-main-bgm-container {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  padding-left: 3rem;
}
.options-main-bgm-container.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.options-main-bgm-item {
  cursor: pointer;
}
.options-main-bgm-item input[type="radio"] {
  display: none;
}
.options-main-bgm-item span {
  position: relative;
  padding-left: 30px;
  font-size: 1rem;
  color: #fff3f1;
  user-select: none;
  filter: url('#button-grunge-filter');
}
.options-main-bgm-item span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-color: #000;
  border: 1px solid #fff3f1;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}
.options-main-bgm-item span::after {
  content: "";
  position: absolute;
  left: .3rem;
  top: 50%;
  transform: translateY(-65%) rotate(45deg);
  width: .3rem;
  height: .5rem;
  border-right: 3px solid #ffd700;
  border-bottom: 3px solid #ffd700;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.options-main-bgm-item input[type="radio"]:checked + span::after {
  opacity: 1;
}

/* 戻るボタン */
.options-back-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}